/* Global styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 1200px; /* Augmente la largeur maximale pour plus d'espace */
}

h1, h2, h3 {
    color: #337ab7;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center; /* Centrer les titres */
}

p {
    margin-bottom: 20px;
    font-size: 18px;
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #337ab7;
    transition: color 0.3s;
}

a:hover {
    color: #23527c;
}

/* Header styles */

header {
    background-color: #337ab7;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    text-align: center; /* Centre le texte dans le header */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .logo a {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none; /* Assure que le texte n'est pas souligné */
}

header nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px 0 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    font-size: 18px;
    padding: 5px 10px;
    color: #fff; /* Assure que les liens sont en blanc pour contraste */
    transition: background-color 0.3s;
}

header nav ul li a:hover {
    background-color: #23527c;
    border-radius: 5px;
}

/* Timeline styles */

.timeline {
    position: relative;
    padding: 20px 0;
    margin: 20px 0;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #337ab7;
    transform: translateX(-50%);
}

.timeline-event {
    position: relative;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.timeline-event:nth-child(odd) {
    left: 0;
    padding-right: 30px;
    text-align: right;
}

.timeline-event:nth-child(even) {
    left: 50%;
    padding-left: 30px;
}

.timeline-badge {
    width: 70px; /* ajustez la taille de l'image */
    height: 70px; /* ajustez la taille de l'image */
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 20px;
}

.timeline-event:nth-child(odd) .timeline-badge {
    right: -30px;
}

.timeline-event:nth-child(even) .timeline-badge {
    left: -30px;
}

.timeline-badge img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.timeline-content {
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* Skills styles */

/* Skills styles */
.skills {
    display: flex;
    flex-direction: column;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espacement entre les compétences */
}

.skill-name {
    flex: 1;
    font-size: 18px;
    margin-right: 10px; /* Espacement entre le nom et la barre de compétence */
    text-align: left; /* Aligne le texte à gauche pour éviter des espaces inutiles */
}

.skill-bar-wrapper {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; /* Espacement entre la barre de compétence et le pourcentage */
}

.skill-bar {
    height: 20px;
    width: 100%; /* Utilise la largeur disponible */
    background: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.skill-level {
    height: 100%;
    background: #337ab7;
}

.skill-percent {
    font-size: 18px;
    white-space: nowrap; /* Assure que le texte reste sur une seule ligne */
    text-align: right; /* Aligne le pourcentage à droite pour plus de précision */
    margin-left: 10px; /* Espacement entre la barre de compétence et le pourcentage */
}

/* Projects styles */

.projets-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projet {
    background: #fff;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 30%;
    box-sizing: border-box;
    text-align: center;
}

.projet img {
    max-width: 100%;
    border-radius: 5px;
}

/* BTS SIO styles */

#bts-sio {
    padding: 20px;
    margin: 20px 0;
}

.bts-options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; /* Espacement entre les options */
}

.option {
    position: relative;
    width: 48%; /* Ajuste pour laisser un peu d'espace entre les options */
    min-height: 400px; /* Assure une hauteur minimale pour afficher le texte */
    perspective: 1000px; /* Ajoute de la perspective pour l'effet 3D */
    border-radius: 10px; /* Ajoute un arrondi aux coins */
    overflow: hidden; /* Assure que le contenu ne dépasse pas les bordures */
}

.option-content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.option:hover .option-content {
    transform: rotateY(180deg); /* Rotation à 180 degrés lors du survol */
}

.option-image, .option-info {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Cache l'arrière-face de l'élément lors de la rotation */
}

.option-image {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    z-index: 1;
}

.option-info {
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligne le texte en haut */
    align-items: flex-start;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: rotateY(180deg); /* Positionne l'information à l'arrière-face */
    z-index: 0;
    border-radius: 10px;
    overflow-y: auto; /* Ajoute un défilement vertical si nécessaire */
    max-width: 100%; /* Permet au texte de s'étendre complètement */
    text-align: left; /* Aligne le texte à gauche pour une meilleure lisibilité */
    box-sizing: border-box; /* Inclut la bordure et le padding dans la largeur totale */
}

/* Footer styles */

footer {
    background-color: #337ab7;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Logo Footer */
.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.image-contact {
    width: 50px;
    height: 50px;
    margin: 15px;
}

/* CV styles */
.encadre-cv {
    background-color: #007bff; /* fond bleu */
    border: 2px solid #007bff; /* bordure bleu */
    padding: 10px;
    text-align: center;
    width: 250px; /* largeur de l'encadré */
    height: 50px; /* hauteur de l'encadré */
    margin: 20px; /* marge pour séparer les éléments */
    display: inline-block; /* afficher les éléments côte à côte */
}

.encadre-cv a {
    color: #ffffff; /* texte en blanc */
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.encadre-cv a:hover {
    text-decoration: underline;
}

/* outils & langages styles */

.outils-container {
    background-color: #fff;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 40px auto;
}

.outils-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.outils-grid {
    display: flex;
    flex-wrap: nowrap; /* Pour empêcher les éléments de passer à la ligne suivante */
    justify-content: space-between; /* Espacer uniformément les éléments */
    align-items: center; /* Alignement vertical des éléments */
    gap: 20px; /* Espacement entre les éléments */
}

.outils-grid img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Certif styles */

#certifications {
    padding: 20px;
}

.certifications-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.certification {
    margin: 20px;
    width: 200px;
}

.certification img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.certification p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.full-size {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-size img {
    object-fit: contain;
    width: 70%;
    height: 70%;
    margin: 10% auto;
    border-radius: 10px;
}

.full-size button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px; /* Augmenter la taille de la police pour les flèches */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#prevBtn {
    left: 200px;
}

#nextBtn {
    right: 200px;
}

/* profil styles */

.profil-container {
    display: flex;
    align-items: center;
}

.profil-image {
    width: 30%;
    margin-right: 20px;
}

.profil-text {
    width: 70%;
}

/* stages styles */

#stages {
    margin: 20px 0;
}

.stage-row {
    display: flex;
    gap: 20px;
}

.stage-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stage-item img {
    max-width: 200px; /* Ajustez la taille de l'image selon vos besoins */
    border: 1px solid #ddd;
    border-radius: 5px;
}

.stage-item figcaption {
    font-size: 14px;
    color: #333;
}

/* Styles pour secret abyss */

#synopsis {
    background-image: url('Images/projets/secretAbyss/ecranAccueil.png');
    background-size: cover;
    background-position: center;
    padding: 30px;
    color: #fff;
}

#style-de-jeu {
    background-color: #f7f7f7;
    padding: 30px;
}

#systeme-de-combat {
    background-color: #ffe6e6;
    padding: 30px;
}

#artefacts {
    background-color: #fff2cc;
    padding: 30px;
}

#quetes {
    background-color: #cce5ff;
    padding: 30px;
}

.content-wrapper {
    display: flex;
    align-items: center;
}

.combat-image {
    margin-right: 20px;
    max-width: 50%;
}

#quetes p {
    margin: 0;
}


#carte-du-monde {
    background-color: #c6f7d8;
    padding: 30px;
}

.flex-container {
    display: flex;
    align-items: center;
}

.style-image {
    width: 30%;
    margin-right: 20px;
}

.style-text {
    width: 70%;
}

.style-de-jeu-container {
    background-color: #f0f0f0;
    padding: 20px;
}

.combat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.combat-image {
    width: 20%; /* ajustez la taille des images */
    margin: 10px;
    border: 1px solid #ddd; /* ajout d'une bordure pour séparer les images */
}

.combat-text {
    width: 100%; /* le texte prend la largeur totale */
    text-align: center; /* centre le texte */
    margin-top: 20px; /* ajoute un espace entre les images et le texte */
}

.projet-container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.projet-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to right, #4b6cb7, #182848);
    color: white;
}

.projet-container .header h1 {
    font-size: 24px;
    font-weight: normal;
}

.projet-container .header .return-link {
    color: #b3d4fc;
    text-decoration: none;
    font-size: 14px;
}

.projet-container .content-container {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin: 30px auto;
    width: 90%;
    max-width: 1200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.projet-container .image-box {
    flex: 1;
    padding-right: 20px;
}

.projet-container .image-box img {
    max-width: 80%;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.projet-container .projet-container .project-box {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.projet-container .projet-container .project-box h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
}

.projet-container .projet-container .project-box ul {
    list-style-type: none;
}

.projet-container .projet-container .project-box li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

.projet-container .projet-container .project-box li strong {
    color: #333;
}

.projet-container a {
    color: #007acc;
    text-decoration: none;
}

.projet-container a:hover {
    text-decoration: underline;
}

.context-box {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    width: 90%;
    max-width: 1100px;
}

.context-box p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.6;
}

/* Styles pour le bouton de retour en haut */
.scroll-to-top {
    position: fixed;
    bottom: 20px; /* Distance du bas */
    right: 20px; /* Distance de la droite */
    background-color: #007bff; /* Couleur de fond bleue */
    color: #fff; /* Couleur de la flèche blanche */
    border-radius: 50%; /* Forme ronde */
    width: 50px; /* Largeur du bouton */
    height: 50px; /* Hauteur du bouton */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; /* Taille de la flèche */
    text-decoration: none; /* Supprimer le souligné */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre */
    transition: background-color 0.3s, box-shadow 0.3s; /* Effet de transition */
}

.scroll-to-top:hover {
    background-color: #0056b3; /* Couleur de fond bleue plus foncée au survol */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Ombre plus marquée au survol */
}

/* Styles pour le bloc de mission */
#mission {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#mission h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
}

#mission p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

#mission ul {
    list-style-type: disc;
    padding-left: 20px;
}

#mission ul li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

#mission ul li strong {
    color: #333;
}

/* Styles pour le bloc de mission */
#mission2 {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#mission2 h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
}

#mission2 p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

#mission2 ul {
    list-style-type: disc;
    padding-left: 20px;
}

#mission2 ul li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

#mission2 ul li strong {
    color: #333;
}




/* Styles pour le bloc des outils de stage */
#outilstage {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#outilstage h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
}

#outilstage .outil {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#outilstage .outil img {
    max-width: 80px;
    margin-right: 15px;
    border-radius: 4px;
}

#outilstage .outil .details {
    flex: 1;
}

#outilstage .outil .details h3 {
    font-size: 18px;
    margin: 0 0 10px 0;
    color: #007acc;
}

#outilstage .outil .details p {
    font-size: 16px;
    color: #555;
}

#competences-stage {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#competences-stage h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
}

#competences-stage .competence {
    margin-bottom: 20px;
}

#competences-stage .competence h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #007acc;
}

#competences-stage .competence p {
    font-size: 16px;
    color: #555;
}

#conclusion-stage {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 30px auto;
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#conclusion-stage h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
}

#conclusion-stage p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
}

#projet-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 30px auto;
}

#but-projet {
    flex: 2;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#info-projet {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#but-projet h2, #info-projet h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
}

#but-projet .contenu {
    display: flex; /* Utilisation de flex pour aligner l'image et le texte */
    align-items: center; /* Assure que l'image et le texte soient alignés verticalement */
}

#but-projet .contenu img {
    max-width: 150px;
    margin-right: 20px;
    border-radius: 8px;
}

#but-projet .contenu p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}

#info-projet ul {
    list-style-type: none;
    padding: 0;
}

#info-projet li {
    margin-bottom: 10px;
}

#version {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 30px auto;
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#version h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.version-images {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.version-images img {
    width: 32%;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#galerie {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 30px auto;
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#galerie h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.galerie-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.image-container {
    width: 23%;
    text-align: center;
}

.image-container img {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    font-style: italic;
}


#difficultes-rencontrees {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 30px auto;
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#difficultes-rencontrees h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.difficultes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.difficulte {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.difficulte h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #007acc;
}

.difficulte p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

#conclusion-veliko {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 30px auto;
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#conclusion-veliko h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

#conclusion-veliko p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin: 0;
}
#difficultes-rencontrees-sa {
    background-color: #f7f7c6;
    padding: 30px;
}

#difficultes-rencontrees-sa p {
    margin: 0;
}

#conclusion-sa {
    background-color: #FFD8B2;
    padding: 30px;
}

#conclusion-sa p {
    margin: 0;
}
#difficultes-rencontrees-sa h3 {
    color : black;
    margin: 0;
}